.personnel-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
  margin-top: 40px;

  h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 20px;
    color: #192a56;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
  }

  p {
    color: #000;
    font-size: 1.2em;
    margin-top: 10px;
    width: 100%;
    text-align: justify;
    font-family: "Arial", sans-serif;
  }

  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 50px;

    .tab {
      padding: 0.5rem 5rem;
      margin: 0 1rem;
      cursor: pointer;
      border-bottom: 5px solid transparent;
      transition: all 0.3s ease;
      color: #192a56;
      font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 1.3rem;
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease;

      &:hover {
        border-bottom-color: #ccc;
      }

      &.active {
        border-bottom-color: #007bff;
        font-weight: bold;
      }
    }
  }

  .single-card {
    display: flex;
    justify-content: center;
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;

    .cards {
      display: flex;
      justify-content: center;
      gap: 1rem;
    }

    .nav-button {
      background: none;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: #007bff;
      transition: color 0.3s ease;

      &:hover {
        color: darken(#007bff, 10%);
      }

      &:disabled {
        color: #ccc;
        cursor: not-allowed;
      }
    }
  }

  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: 300px;
    height: 260px;
    margin-top: 50px;
    transition: transform 0.3s ease;
    border: 2px solid #192a56;

    &:hover {
      transform: translateY(-5px);
    }

    .photo {
      width: 100px;
      height: 100px;
      margin: 0 auto 1rem;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
      color: #192a56;
    }

    p {
      font-size: 0.9rem;
      color: #666;
      margin-bottom: 0.5rem;
      align-items: center;
      text-align: center;
    }

    a {
      color: #007bff;
      font-size: 1.5rem;
      transition: color 0.3s ease;

      &:hover {
        color: darken(#007bff, 10%);
      }
    }
  }
}

@media (max-width: 768px) {
  .personnel-page {
    padding: 1rem;

    h1 {
      font-size: 2rem;
    }

    .tabs {
      flex-wrap: wrap;

      .tab {
        margin-bottom: 0.5rem;
      }
    }

    .carousel {
      .cards {
        flex-direction: column;
        align-items: center;
      }
    }

    .card {
      width: 80%;
      max-width: 250px;
      margin-bottom: 1rem;
    }
  }
}
