@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Open+Sans&display=swap");

.governance-personnel-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Open Sans", sans-serif;
  margin-top: 40px;
  background-color: #f8f9fa;

  .governance-title {
    font-size: 3.5em;
    text-align: center;
    margin-top: 20px;
    color: #192a56;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .governance-description {
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
    margin-top: 20px;
    width: 100%;
    text-align: justify;
    font-family: "Open Sans", sans-serif;
  }

  .governance-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 50px;

    .governance-tab {
      padding: 0.8rem 2rem;
      margin: 0 1rem;
      cursor: pointer;
      color: #192a56;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 2rem;
      border-bottom: 3px solid transparent;
      transition: all 0.3s ease;

      &:hover {
        border-bottom-color: #3498db;
      }

      &.active {
        border-bottom-color: #3498;
        color: #3498;
      }
    }
  }

  .governance-single-card {
    display: flex;
    justify-content: center;
  }

  .governance-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    .governance-cards {
      display: flex;
      justify-content: center;
      gap: 2rem;
    }

    .governance-nav-button {
      background: none;
      border: none;
      font-size: 2rem;
      cursor: pointer;
      color: #3498db;
      transition: color 0.3s ease, transform 0.3s ease;

      &:hover {
        color: #2980b9;
        transform: scale(1.1);
      }

      &:disabled {
        color: #bdc3c7;
        cursor: not-allowed;
      }
    }
  }

  .governance-card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: 300px;
    height: 400px; // Hauteur fixe pour toutes les cartes
    margin-top: 50px;
    transition: all 0.3s ease;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    }

    .governance-photo {
      width: 120px;
      height: 120px;
      margin: 0 auto 1.5rem;
      overflow: hidden;
      border-radius: 50%;
      border: 4px solid #192a56;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.3s ease;
      }
    }

    &:hover .governance-photo img {
      transform: scale(1.1);
    }

    .governance-name {
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
      color: #192a56;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
    }

    .governance-job {
      font-size: 1rem;
      color: #7f8c8d;
      margin-bottom: 1rem;
      font-family: "Open Sans", sans-serif;
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .governance-linkedin {
      color: #192a56;
      font-size: 1.8rem;
      transition: color 0.3s ease, transform 0.3s ease;
      display: inline-block;

      &:hover {
        color: #2980b9;
        transform: scale(1.2);
      }
    }
  }
}

@media (max-width: 768px) {
  .governance-personnel-page {
    padding: 1rem;

    .governance-title {
      font-size: 2.5rem;
    }

    .governance-tabs {
      flex-wrap: wrap;

      .governance-tab {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
      }
    }

    .governance-carousel .governance-cards {
      flex-direction: column;
      align-items: center;
    }

    .governance-card {
      width: 90%;
      max-width: 280px;
      margin-bottom: 1.5rem;
    }
  }
}
