.legislation-detail {
  max-width: 1000px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 10px 12px #192a56;
  margin-top: 140px;

  h2 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 800;
    align-items: center;
    text-align: center;
    color: #192a56;
    font-family: "Montserrat", sans-seri;
    margin-top: 10px;
  }

  .date {
    font-style: italic;
    color: #6c757d;
    margin-bottom: 1.5rem;
  }

  .description {
    font-size: 1.1rem;
    line-height: 1.6;
    color: $black;
    margin-bottom: 2rem;
  }

  .pdf-section {
    background-color: #e9ecef;
    padding: 1rem;
    border-radius: 5px;

    h3 {
      color: #495057;
      font-size: 1.3rem;
      margin-bottom: 0.5rem;
    }

    .pdf-link {
      display: inline-block;
      background-color: #192a56;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      text-decoration: none;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }
  }
}
