:root {
  --color-1: #264653;
  --color-2: #2a9d8f;
  --color-3: #e9c46a;
  --color-4: #f4a261;
  --font-1: "Roboto", sans-serif;
  --borderRadius: 4px;
  --maxWidth: 1200px;
  --padding: 2rem;
  --mobile-padding: 1rem;
  --desktop-padding: 2rem;
}

.dpm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 200px;
}

.titlee {
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  animation: slideIn 1s ease-in-out;
  padding: 20px;
  border-radius: 10px;
  margin-top: 200px;
}

.titlee h2 {
  color: #192a56;
  font-size: 3rem;
  margin-bottom: 1rem;
  margin-top: 100px;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 3px 6px 2px white;
}

.section-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin-top: 50px;
}

.section-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  background-color: #192a56;
  color: white;
  border: none;
  border-radius: var(--borderRadius);
  font-family: var(--font-1);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.section-button:hover,
.section-button.active {
  background-color: var(--color-1);
}

.section-button .icon {
  font-size: 1.25rem;
}

.section-content {
  width: 100%;
  max-width: 800px;
}

.active-section {
  background-color: white;
  padding: 2rem;
  border-radius: var(--borderRadius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active-section h2 {
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--color-3);

  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: 800;
  align-items: center;
  text-align: center;
  color: #192a56;
  font-family: "Montserrat", sans-seri;
  margin-top: 10px;
}

.active-section p {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

@media (max-width: 1200px) {
  .circle img {
    width: 250px;
    height: 250px;
  }
  .circle {
    margin-right: 70px;
  }
}

@media (max-width: 992px) {
  .circle img {
    width: 200px;
    height: 200px;
  }
  .circle {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .dpm {
    padding: 10px;
  }
  .section-buttons {
    flex-direction: column;
  }
  .section-button {
    width: 100%;
  }
  .active-section {
    padding: 1.5rem;
  }
  .active-section h2 {
    font-size: 1.25rem;
  }
  .active-section p {
    font-size: 0.9rem;
  }
}

@media (max-width: 576px) {
  .circle img {
    width: 100px;
    height: 100px;
  }
  .circle {
    margin-right: 10px;
  }
  .text-dpm {
    flex-direction: column;
    align-items: center;
  }
  .text-dpm div {
    margin-bottom: 10px;
  }
}
