:root {
  --color-1: #264653;
  --color-2: #2a9d8f;
  --color-3: #e9c46a;
  --color-4: #f4a261;
  --font-1: "Roboto", sans-serif;
  --borderRadius: 4px;
  --maxWidth: 1200px;
  --padding: 2rem;
  --mobile-padding: 1rem;
  --desktop-padding: 2rem;
}
.dpm {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin-top: 200px;
}
.titlee {
  width: 100%;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  animation: slideIn 1s ease-in-out;
  padding: 20px;
  border-radius: 10px;
  margin-top: 200px;
  h2 {
    color: #192a56;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 3px 6px 2px white;
  }
}

.texte1 {
  margin-top: 30px;
  p {
    color: $black;
    font-size: 1rem;
    width: 100%;
    text-align: justify;
    text-justify: inter-word;
  }
  h1 {
    color: #192a56;
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 900;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    letter-spacing: 2px;
  }
}
.circle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  margin-right: 90px;
  animation: zoomIn 1s ease-in-out;
}

.circle img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.circle:hover img {
  transform: scale(1.1);
}
.text-dpm {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.textedpm {
  margin-top: 15px;
}
/* Responsive adjustments */
@media (max-width: 1200px) {
  .circle img {
    width: 250px;
    height: 250px;
  }

  .circle {
    margin-right: 70px;
  }
}

@media (max-width: 992px) {
  .circle img {
    width: 200px;
    height: 200px;
  }

  .circle {
    margin-right: 50px;
  }
}

@media (max-width: 768px) {
  .dpm {
    padding: 10px;
  }

  .circle img {
    width: 150px;
    height: 150px;
  }

  .circle {
    margin-right: 30px;
  }
}

@media (max-width: 576px) {
  .circle img {
    width: 100px;
    height: 100px;
  }

  .circle {
    margin-right: 10px;
  }

  .text-dpm {
    flex-direction: column;
    align-items: center;
  }

  .text-dpm div {
    margin-bottom: 10px;
  }
}
