:root {
  --color-1: #264653;
  --color-2: #2a9d8f;
  --color-3: #e9c46a;
  --color-4: #f4a261;
  --font-1: "Roboto", sans-serif;
  --borderRadius: 4px;
  --maxWidth: 1200px;
  --padding: 2rem;
  --mobile-padding: 1rem;
  --desktop-padding: 2rem;
}

.documente-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  max-width: var(--maxWidth);
  margin: 0 auto;
  padding: var(--desktop-padding);

  @media (max-width: 768px) {
    padding: var(--mobile-padding);
  }
}

.documente {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.documente-content {
  margin-left: 20px;
  color: white;
  margin-top: 180px;
  transition: transform 0.3s ease-in-out;
  animation: slideIn 1s ease-in-out;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.documente-content:hover {
  transform: translateY(-10px);
}

.documente-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-weight: 900;
  font-family: var(--font-1);
}

.documente-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: white;
  font-weight: 900;
  margin-left: 80px;
  width: 80%;
  text-align: justify;
  text-justify: inter-word;
}

.docmente h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
  font-weight: 900;
  font-family: "Montserrat", sans-serif;
}

.links-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
  margin-top: 60px;
}

.link {
  background-color: #192a56;
  padding: 10px 20px;
  border-radius: var(--borderRadius);
  cursor: pointer;
  color: white;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: var(--color-1);
  font-size: 20px;
  font-family: var(--font-1);
}

.link.active {
  background: linear-gradient(135deg, #192a56, #ec6ead);
  font-weight: bold;
  color: black;
}

.link.inactive {
  background-color: #192a56;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
  padding: 0 50px;
}

.card-item {
  background-color: white;
  border-radius: var(--borderRadius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--borderRadius);
  margin-bottom: 15px;
}

.card-item h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--color-1);
}

.card-item p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 15px;
}

.more-info-btn {
  display: inline-block;
  padding: 10px 15px;
  background-color: #192a56;
  color: white;
  text-decoration: none;
  border-radius: var(--borderRadius);
  transition: background-color 0.3s ease;
}

.more-info-btn:hover {
  background-color: var(--color-1);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.pagination button {
  background-color: #192a56;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  transition: background-color 0.3s ease;
}

.pagination button:hover,
.pagination button.active {
  background-color: $color-1;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styles for Fishing Calendar */
.fishing-calendar {
  padding: 50px;
  background-color: #f9f9f9;
}

.fishing-calendar h2 {
  text-align: center;
  color: #192a56;
  margin-bottom: 30px;
}

.season-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.season-card {
  background-color: white;
  border-radius: var(--borderRadius);
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.season-card:hover {
  transform: translateY(-5px);
}

.season-card h3 {
  color: #192a56;
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
}
.season-card p {
  color: $color-1;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.season-card ul {
  list-style-type: none;
  padding: 0;
}

.season-card li {
  margin-bottom: 5px;
  color: #333;
}

/* Styles for Fishing Zones */
.fishing-zones {
  padding: 50px;
}

.fishing-zones h2 {
  text-align: center;
  color: #192a56;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}

.zone-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.zone {
  flex: 1;
  background-color: white;
  border-radius: var(--borderRadius);
  padding: 20px;
  box-shadow: 0 15px 20px #192a56;
}

.zone h3 {
  color: #192a56;
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}

.zone ul {
  list-style-type: none;
  padding: 0;
}

.zone li {
  margin-bottom: 10px;
  color: #333;
}
.docomente h2 {
  margin-top: 80px;
  text-align: center;
  color: #192a56;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
}
.penalties {
  margin-top: 50px;
  background-color: red;
  border-radius: var(--borderRadius);
  padding: 20px;
}

.penalties h3 {
  color: #192a56;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

/* Styles for Protected Species */
.protected-species {
  padding: 50px;
}

.protected-species h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #192a56;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.espece {
  margin-bottom: 30px;
  width: 105%;
  text-align: justify;
  text-justify: inter-word;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
.species-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.species-card {
  background-color: white;
  border-radius: var(--borderRadius);
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.species-card:hover {
  transform: translateY(-5px);
}

.species-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: var(--borderRadius);
  margin-bottom: 15px;
}

.species-card h3 {
  color: #192a56;
  margin-bottom: 10px;
}

.species-card p {
  color: #333;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .zone-info {
    flex-direction: column;
  }

  .species-grid {
    grid-template-columns: 1fr;
  }
}
